:host {
    width: 100%;
    height: 100%;
}

.form-check-input {
    min-width: 1rem !important;
}

.card-footer {
    background: transparent;
}

::ng-deep .ngx-pagination {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.add-button {
    bottom: 4%;
    right: 2%;
    position: sticky;
    float: right;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    text-align: center;

    & .fab, .fas, .far {
        width: 2.5rem;
        height: 2.5rem;
    }

    &:hover  {
        transform: scale(1.1);
    }
}