<ng-container *ngIf="tasksPage && tasksPage.content && tasksPage.content.length > 0">
    <div class="d-flex flex-column px-5">
        <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3 col-12 col-md-8 mx-auto">
            <span class="fw-bold mb-2 mb-md-0">{{tasksPage.totalElements}} items found</span>
            <pagination-controls (pageChange)="pageChanged($event)" [responsive]="true" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page" previousLabel="Prev" nextLabel="Next"></pagination-controls>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="card col-md-3 m-2 col-sm-6 col-12 px-0"
                *ngFor="let task of tasksPage.content | paginate: { itemsPerPage: rowCount, currentPage: tasksPage.number, totalItems: tasksPage.totalElements }">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-baseline">
                        <h4 class="pr-4">
                            <ng-container *ngTemplateOutlet="displayText; context: {strike:task.done, text:task.name}">
                            </ng-container>
                        </h4>
                        <input mdbCheckbox class="position-relative" type="checkbox"
                            [checked]="task.done" (change)="updateState(task, $event)" aria-label="..." />
                    </div>
                    <div class="card-text">
                        <ng-container
                            *ngTemplateOutlet="displayText; context: {strike:task.done, text:task.description}">
                        </ng-container>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end mx-0">
                    <button class="btn btn-primary me-2" (click)="update(task)">
                        <i class="fas fa-pen white-text"></i>
                    </button>
                    <button class="btn btn-danger" (click)="delete(task)">
                        <i class="far fa-trash-alt white-text"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="align-self-center mt-3">
            <pagination-controls (pageChange)="pageChanged($event)" [responsive]="true" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page" previousLabel="Prev" nextLabel="Next"></pagination-controls>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!tasksPage || !tasksPage.content || tasksPage.content.length === 0">
    <div class="d-flex h-100 align-items-center align-self-center justify-content-center">
        <h1>No task found !</h1>
    </div>
</ng-container>

<div class="fabs d-flex flex-column">
    <a role="button" class="bg-primary text-white mb-2" (click)="importTasks()" title="Import tasks json file" mdbWavesEffect>
        <i class="fas fa-file-upload white-text d-flex align-items-center justify-content-center"></i>
    </a>

    <a role="button" class="bg-success text-white" (click)="addTask()" title="Add task" mdbWavesEffect>
        <i class="fas fa-plus white-text d-flex align-items-center justify-content-center"></i>
    </a>
</div>

<ng-template #displayText let-strike="strike" let-text="text">
    <del *ngIf="strike">{{text}}</del>
    <ng-container *ngIf="!strike">{{text}}</ng-container>
</ng-template>
