<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title white-text w-100 font-weight-bold py-2">{{text}} TASK</h4>
    <button type="button" class="close btn btn-link text-decoration-none text-indigo-500" data-dismiss="modal" aria-label="Close" (click)="close()" mdbRipple>
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <mdb-form-control class="mb-3">
      <input mdbInput type="text" id="name" class="form-control" [(ngModel)]="taskModel.name" />
      <label mdbLabel class="form-label" for="name">Name</label>
    </mdb-form-control>

    <mdb-form-control class="mb-2">
      <textarea type="text" id="description" class="md-textarea form-control" rows="4" mdbInput [(ngModel)]="taskModel.description"></textarea>
      <label mdbLabel class="form-label" for="description">Description</label>
    </mdb-form-control>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" mdbRipple class="btn btn-primary" (click)="createOrUpdate()" mdbWavesEffect>
      <i class="fas fa-pen me-1"></i>
      {{text}}
    </button>
  </div>
</div>
