<form class="md-form active-cyan-1 text-white d-flex flex-row align-items-baseline">
    <div class="d-flex flex-row align-items-baseline">
        <mdb-form-control class="form-white">
            <input mdbInput type="text" id="formWhite" class="form-control" #searchInput />
            <label mdbLabel class="form-label" for="formWhite"><i class="align-self-center fas fa-search" aria-hidden="true"></i> Search</label>
        </mdb-form-control>
    </div>
    <select class="form-select form-select-sm ms-3" (change)="onStateFilterChanged($event)">
        <option *ngFor="let item of taskStateFilterEnum | keyvalue">{{item.key}}</option>
    </select>
</form>