<footer class="page-footer font-small special-color-dark w-100">
    <div class="px-2 py-3 d-flex flex-row align-items-baseline justify-content-center">
        <a target="_blank" href="https://fr.linkedin.com/in/morgan-bourse" mdbWavesEffect>
            <mdb-icon fab icon="linkedin-in" size="2x" class="white-text d-flex align-items-center justify-content-center link-linkedin"></mdb-icon>
        </a>
        <a class="mx-3" target="_blank" mdbWavesEffect>
            <mdb-icon fab icon="github" size="2x" class="white-text d-flex align-items-center justify-content-center link-github"></mdb-icon>
        </a>
        <a target="_blank" mdbWavesEffect>
            <mdb-icon fab icon="npm" size="2x" class="white-text d-flex align-items-center justify-content-center link-npm"></mdb-icon>
        </a>
    </div>
    <div class="footer-copyright p-3 w-100 text-center">
        Powered by Morgan BOURSE
    </div>
</footer>
