<footer class="page-footer bg-dark w-100">
    <div class="px-2 py-3 d-flex flex-row align-items-baseline justify-content-center">
        <a target="_blank" href="https://fr.linkedin.com/in/morgan-bourse" mdbWavesEffect>
            <i class="fab fa-linkedin-in text-white d-flex align-items-center justify-content-center link-linkedin fa-2x"></i>
        </a>
        <a class="mx-3" href="https://github.com/morganbourse/mbo-ez-angular-ez-http-client" target="_blank" mdbWavesEffect>
            <i class="fab fa-github text-white d-flex align-items-center justify-content-center link-github fa-2x"></i>
        </a>
        <a target="_blank" href="https://www.npmjs.com/package/@mbo-ez-angular/ez-http-client" mdbWavesEffect>
            <i class="fab fa-npm text-white d-flex align-items-center justify-content-center link-npm fa-2x"></i>
        </a>
    </div>
    <div class="footer-copyright p-3 w-100 text-center text-light">
        Powered by Morgan BOURSE
    </div>
</footer>
