<div class="w-100 d-flex flex-column bg-indigo-500">
    <div class="navbar justify-content-between navbar-expand-sm navbar-dark px-5 fixed-top shadow">
        <a class="navbar-brand" href="#">mbo-ez-angular</a>
    
        <a href="https://github.com/morganbourse/mbo-ez-angular-ez-http-client"
            class="d-flex flex-row justify-content-center align-items-center text-white fw-bold p-2 link-github"
            target="_blank">
            <i class="fab fa-github fa-2x me-2"></i>
            <span>GitHub</span>
        </a>
    </div>

    <header class="py-5 px-3 d-flex flex-column align-items-center">
        <div class="text-white d-flex flex-column justify-content-center mb-4">
            <div class="d-flex flex-row align-items-baseline align-self-center mb-2">
                <i class="fas fa-tasks me-2 fa-2x"></i>
                <h1>TODO LIST</h1>
            </div>
            <small>Made with <span class="fw-bold">&#64;mbo-ez-angular/ez-http-client</span> library</small>
        </div>
        <app-task-search></app-task-search>
    </header>
</div>