<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title white-text w-100 font-weight-bold py-2">IMPORT TASKS</h4>
    <button type="button" class="close btn btn-link text-decoration-none text-indigo-500" data-dismiss="modal" aria-label="Close" (click)="close()" mdbRipple>
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <label for="formFile" class="form-label">Tasks JSON file</label>
    <input class="form-control form-control-lg" id="formFile" type="file" accept=".json" (change)="onFileSelected($event)" />
    <div class="text-danger mt-2" *ngIf="displayFileRequired">
      <i class="fas fa-exclamation-circle text-danger"></i>
      File required
    </div>
  </div>

  <div class="modal-footer justify-content-center">
    <button mdbBtn class="btn btn-primary" (click)="import()" mdbRipple [disabled]="displayFileRequired" mdbWavesEffect>
      <i class="far fa-plus-square me-1"></i>
      IMPORT
    </button>
  </div>
</div>